.filter-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.filter-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.filter-select {
  padding: 10px 0;
  margin-bottom: 40px;
}
/* filter lista */
.filter-option {
  text-align: center;
  width: 150px;
  color: white;

  background-color: #265077;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px 0;
}

.filter-option:hover {
  background-color: goldenrod;
  color: #022140;
}

.type-label {
  color: goldenrod;
  font-size: 2em;
}
.type-labelF {
  color: goldenrod;
}

.collection-label {
  color: goldenrod;
  font-size: 2em;
}
.collection-labelF {
  color: goldenrod;
}
/* stilizovanje loadinga */
.api-loading {
  color: goldenrod;
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
}
.apiList-container {
  width: 90%;
  margin: 50px auto;
  color: white;
}

.list-row {
  display: flex;
}
/* kolone u tabeli */
.row-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 50px;
  border: 1px solid white;
  overflow: hidden;
}
/* poslednja kolona */
.row-item.imagesRow {
  font-size: 2em;
  color: goldenrod;
  border: 1px solid goldenrod;
}

.row-item.images {
  text-align: center;
}

.row-item.images a {
  color: white;
  text-decoration: none;
}
.row-item.headRow {
  font-size: 2em;
  color: goldenrod;
  border: 1px solid goldenrod;
}
/* div za paginaciju */
.pagination {
  display: flex;
  width: 10%;
  justify-content: center;
  margin: 50px auto;
}
.pagination button {
  background-color: goldenrod;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* trenutna stranica */
.current-page {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid goldenrod;
  width: 50px;
  margin: 0 10px;
  padding: 0 5px;
  font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
  .filter-option {
    font-weight: 100;
  }
  .collection-label {
    font-size: 1.5em;
  }
  .type-label {
    font-size: 1.5em;
  }
  .list-row {
    width: 100%;
  }
  .row-item.title {
    width: 50%;
    font-size: 15px;
  }
  .row-item.images {
    width: 50%;
    font-size: 8px;
  }
  .row-item.second {
    display: none;
  }
  .row-item.type {
    display: none;
  }
  .row-item.headRow.second {
    display: none;
  }
  .row-item.headRow.third {
    display: none;
  }
  .row-item.headRow {
    width: 50%;
  }
  .row-item.imagesRow {
    width: 50%;
  }
}
