.greece-container {
  width: 100%;
  .headerImg-greece {
    margin: 0 auto;
    width: 80%;
    height: 400px;
    border: 1px solid greenyellow;
    background: {
      image: url(../images/GreeceCover.jpg);
      size: 100% 100%;
      repeat: no-repeat;
      position: center;
    }
  }
}
