.collection-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  
}

.collection {
  width: 30%;
  height: 400px;
  border: 2px solid goldenrod;
  
}

.collection.egypt{
  background-image: url(images/collectionBackgroundEgypt.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.collection.greece{
  background-image: url(images/collectionBackgroundGreece.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.collection.asia{
  background-image: url(images/collectionBackgroundAsia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}