.contactform-container {
  width: 100%;
  margin-top: 100px;
  color: white;
}

.contactForm-title {
  text-align: center;
}
.section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contForm {
  width: 30%;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
  color: white;
}

.contactForm-info {
  display: flex;
  flex-direction: column;

  width: 30%;
}
.info {
  display: block;

  padding-left: 50px;
}

.nameInput {
  display: flex;
  flex-direction: column;

  width: 49%;
  height: 100px;
  font-size: 2em;
}
.nameInput input {
  height: 2.75em;
  color: white;
}

.emailInput {
  display: flex;
  flex-direction: column;
  width: 49%;
  font-size: 2em;
}
.emailInput input {
  height: 2.75em;
  color: white;
}

.fieldInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  font-size: 2em;
  list-style-type: none;
}
.fieldInput textarea {
  color: white;
}
.sendMessage {
  list-style-type: none;
  margin-top: 20px;
}

.sendMessage input {
  color: white;
}

.info.email {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info.email a {
  text-decoration: none;
  color: white;
}
.info h3 {
  font-size: 1.5em;
}

form input {
  background-color: #265077;
}

form textarea {
  background-color: #265077;
}

@media only screen and (max-width: 600px) {
  .section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .contForm {
    width: 100%;
  }

  .contactForm-info {
    width: 100%;
  }
  .hr hr {
    border: 1px solid white;
  }
}

@media only screen and (min-width: 601px) {
  .hr hr {
    display: none;
  }
}
