.header-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 231, 223);
  height: 30vh;
  width: 100%;
  background-image: url(./images/Titlebackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logreg {
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: flex-end;
  margin-right: 10%;
}
.reg {
  display: flex;
  width: 200px;
  height: 50px;
}
.reg a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}
.line {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.5em;
}
.maintitle {
  display: flex;
  margin: 0 auto;

  width: 100%;
  height: 20vh;
  justify-content: center;
}
.title h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 5em;
  color: goldenrod;

  text-shadow: -1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f,
    5px 5px 10px rgba(173, 16, 16, 0.4), -5px -5px 10px rgba(165, 29, 29, 0.4);
}
