.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.maintitle {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
  color: #babf4e;
  text-shadow: 1px 1px yellow;
  padding-left: 50px;
}
.maintitle img {
  width: 100px;
}

.registration {
  display: flex;
  width: 200px;
  height: 20px;
  margin-top: 5px;
  margin-right: 100px;
  justify-content: center;
}
.log {
  padding-right: 25px;
  border-right: 1px solid goldenrod;
}
.log a {
  text-decoration: none;
  color: goldenrod;
}

.reg {
  padding-left: 25px;
}

.reg a {
  text-decoration: none;
  color: goldenrod;
}
