.loginForm-header {
  text-align: center;
  font-size: 2em;
  color: goldenrod;
  margin-bottom: 30px;
}

.login-wrapp {
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.log-user,
.log-pass {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.log-pass,
.log-user label {
  font-size: 1.5em;
  color: goldenrod;
}

.log-user input {
  height: 30px;
  background-color: #265077;
  color: white;
}
.log-pass input {
  height: 30px;
  background-color: #265077;
  color: white;
}
.log-button{
  display: flex;
  justify-content: center;
}
.log-button button {
  margin: 30px 0;
  width: 100px;
  height: 30px;
}

@media only screen and (min-width: 800px) {
  .login-form {
    width: 400px;
  }
}
