@import "components/firstpage";
@import "components/aboutus";

@import "helper/button";
@import "components/login";
@import "components/apicollection";
@import "components/collection";
@import "components/asia";
@import "components/egypt";
@import "components/greece";
@import "components/collectiontitle";
@import "components/contactform";
@import "components/events";
@import "components/header";
@import "components/main";
@import "components/footer";
@import "components/menu";
@import "components/greeting";
@import "helper/navmenu";
@import "helper/collection";
@import "helper/eventA";

hr {
  border: 1px solid goldenrod;
}
.stick {
  position: sticky;
  top: 0px;
  z-index: 2;
}
